#tituloRebate{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
}

#textoRebate{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
}

#primerBloqueRebate{
    border-right: 3px solid #FFFFFF;
}

#segundoBloqueRebate{
    /* background: blue; */
}

#tercerBloqueRebate{
    /* background: chartreuse; */
}


#txtRebateTipo{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

#txtRebateData{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    color: #89E9FF;
}

#resultadoRebate{
    border-top: 1px dotted #FFFFFF;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#txtRebateDataTrimestre{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #FFF3AB;
}

#separadorRebateTrimestre{
    border-top: 1px dotted #FFFFFF;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nombreTipoPromocionRebate{
    text-transform: uppercase;
}

#contenedor-btn-interrogacion-cardRebate{
    /* background-color: red;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    bottom: 8px;
    cursor: pointer; */
}

#btn-interrogacion-cardRebate{
    position: absolute;
    right: 20px;
    bottom: 8px;
    
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
    /* box-shadow: rgb(0 0 0 / 20%) 9px 6px 9px -1px; */
}

.ant-modal-confirm-info{
    text-align: -webkit-center;
    width: auto !important;
}

.ant-modal-content{
    width: 600px;
}

#contenedor-descripcionRebate-cardRebate{
    /* position: absolute; */
    /* font-size: 10px; */
    padding-top: 5px;
    color: white;
    font-family: Roboto;
    /* left: 10px; */
}