#tituloAvance{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
}

#tituloDatosAvance{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
}

#datosAvance{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
}

.Switch-Niv{
    background: white;
}

.Switch-Niv span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4D4D4D;
}

.Switch-Niv .ant-switch-handle{
    z-index: 1;
}

.Switch-Niv .ant-switch-handle::before{
    background: #30C0D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}