.dark-theme .titulo-subrayado:before {
  background-color: #13c2c2 !important;
}
.titulo-subrayado {
  /* border-bottom: solid 1px #d9d9d9; */
  margin-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
}
.titulo-subrayado:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  height: 3px;
  width: 42px;
  background-color: #FCDE30;
}

.subrayado-verde:before{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  height: 3px;
  width: 42px;
  background-color: #79E2C1;
}

.ant-card .titulo-subrayado:before,
.gx-card .titulo-subrayado:before {
  display: none;
}
.ant-card .titulo-subrayado,
.gx-card .titulo-subrayado {
  border-bottom: 0 none;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.ultimaActualizacion{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}

.btnDescargar{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  border: none;
  background:#F93258; 
  color:white;
  width: 180px;
  height: 46px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.btnDescargar:hover{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  background:#F93258; 
  color:white;
  border-radius: 10px;
}

#tituloModuloVentas{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
}

.iconoTipoPromocion{
  width: 45px;
  height: 47px;
  margin-left: 18px;
  margin-bottom: 15px;
}

.contActualizacion{
  float: right;
  right: 0;
}

#contenedorActualizacion{
  
}