.contenedorFiltro-ControlSellOut{
    justify-content: center;
}

#filtroMes-ControlSellOut{
    margin-right: 20px;
}

#tituloFiltroMes-ControlSellOut{
    margin-left: -13px;
}

#tituloFiltroAnio-ControlSellOut{
    margin-left: -13px;
}

#contenedorObservaciones-ControlSellOut{
    border-left-style: groove;
    margin-top: 50px;
    margin-bottom: 50px;
    /* width: 100%;
    height: 100%; */
}

#contenedorDia-ControlSellOut{
    cursor: pointer;
    text-align: center;
    position: relative;
}

#diaActual-ControlSellOut{
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 8px;
    
}

#cargaCompletada-ControlSellOut{
    position: absolute;
    right: 5px;
    top: 5px;
    color: yellowgreen;
}

#cargaError-ControlSellOut{
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
}