#Titulo-ModalDescargas{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #558CFF;
    padding-bottom: 30px;
}

#Contenedor-Zona-ModalDescargas{
    margin-bottom: 20px;
}

#Titulo-Zona-ModalDescargas{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 13px;
    color: #4D4D4D;
}

#Titulo-Sucursal-ModalDescargas{
    font-family: Roboto;
    font-style: normal;
    font-size: 11px;
    line-height: 9px;
}

#Checkbox-Sucursal-ModalDescargas{
    padding-left: 5px;
}


#Checkbox-Zona-ModalDescargas{
    padding-left: 5px;
    /* margin-top: -10px; */
}

#SubTitulo-ModalDescargas{
    cursor: pointer;
    font-family: Roboto;
    /* font-weight: 900; */
    font-size: 11px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #4EB798;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #558CFF;
    border-color: #558CFF;
}

.Contenedor-Fecha-ModalReporetePago{
    width: 240px;
    /* background-color: blueviolet; */
    height: 30px;
    display: flex;
}

.Fecha-Izquierda-ModalReporetePago{
    width: 120px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Fecha-Derecha-ModalReporetePago{
    width: 120px;
    height: 30px;
    background: #F0F2F5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
}

.Fecha-Derecha-ModalReporetePago:focus{
    outline: none;
}