#txt_tituloModal{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #558CFF;
    text-align: center;
}

#txt_contenidoModal{
    margin-top: -15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: justify;

}

#contenedorModal{
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left: 34%;
    margin-right: 3%;
}

.ant-modal-content{
    border-radius: 20px;
}

#imagenFondoModal{
    position: absolute;
    top: 0px;
}